{#
# -------------------------------------------------------------------------
# Borgbase plugin for GLPI
# Copyright (C) 2022-2024 by the TICgal Team.
# https://www.tic.gal/
# -------------------------------------------------------------------------
# LICENSE
# This file is part of the Borgbase plugin.
# Borgbase plugin is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 3 of the License, or
# (at your option) any later version.
# Borgbase plugin is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# You should have received a copy of the GNU General Public License
# along with Borgbase. If not, see <http://www.gnu.org/licenses/>.
# --------------------------------------------------------------------------
# @package  Borgbase
# @author    the TICgal team
# @copyright Copyright (c) 2022-2024 TICgal team
# @license   AGPL License 3.0 or (at your option) any later version
# http://www.gnu.org/licenses/agpl-3.0-standalone.html
# @link      https://www.tic.gal/
# @since     2022
# ----------------------------------------------------------------------
#}

{% import 'components/form/fields_macros.html.twig' as fields %}

{% set no_header = no_header|default(not item.isNewItem() and not _get._in_modal|default(false)) %}
{% set bg = '' %}
{% if item.isDeleted() %}
   {% set bg = 'asset-deleted' %}
{% endif %}

<div class="asset {{ bg }}">
   {{ include('components/form/header.html.twig', {'in_twig': true, 'no_header': true}) }}

   {% set params  = params ?? [] %}
   {% set field_options = {
         'locked_fields': item.getLockedFields(),
   } %}

   <div class="card-body d-flex flex-wrap">
      <div class="col-12 col-xxl-12 flex-column">
         <div class="d-flex flex-row flex-wrap flex-xl-nowrap">
            <div class="row flex-row align-items-start flex-grow-1">
               <div class="row flex-row">

                  {% set field_options = field_options|merge(params) %}

                  {% if item.isField('borg_name') %}
                     {{ fields.textField(
                        'borg_name',
                        data['borg_name'],
                        labels['name'],
                        field_options
                     ) }}
                  {% endif %}
                  
                  {% if item.isField('alertDays') %}
                     {{ fields.textField(
                        'alertDays',
                        data['alertDays'],
                        labels['alertDays'],
                        field_options
                     ) }}
                  {% endif %}

                  {% if item.isField('borg_version') %}
                     {{ fields.textField(
                        'borg_version',
                        data['borg_version'],
                        labels['version'],
                        field_options
                     ) }}
                  {% endif %} 
                  
                  {% if item.isField('compactionInterval') %}
                     {{ fields.textField(
                        'compactionInterval',
                        data['formatCompactionInterval'],
                        labels['compactionInterval'],
                        field_options
                     ) }}
                  {% endif %}
                  
                  {% if item.isField('region') %}
                     {{ fields.textField(
                        'region',
                        data['region'],
                        labels['region'],
                        field_options
                     ) }}
                  {% endif %}
                  
                  {% if item.isField('compactionHour') %}
                     {{ fields.textField(
                        'compactionHour',
                        data['formatCompactionHour'],
                        __('Compaction Hour', 'borgbase'),
                        field_options
                     ) }}
                  {% endif %}
                  
                  {% if item.isField('is_encrypted') %}
                     {{ fields.textField(
                        'is_encrypted',
                        data['is_encrypted'],
                        labels['encryption'],
                        field_options
                     ) }}
                  {% endif %}
                  
                  {% if item.isField('currentUsage') %}
                     {{ fields.textField(
                        'currentUsage',
                        data['formatCurrentUsage'],
                        labels['usage'],
                        field_options
                     ) }}
                  {% endif %}

                  {% if item.isField('createdAt') %}
                     {{ fields.textField(
                        'createdAt',
                        data['formatCreatedAt'],
                        labels['createdAt'],
                        field_options
                     ) }}
                  {% endif %}

                  {% if item.isField('lastModified') %}
                     {{ fields.textField(
                        'lastModified',
                        data['formatLastModified'],
                        labels['lastBackup'],
                        field_options
                     ) }}
                  {% endif %}
                  
                  <input type="hidden" name="repoId" value="{{ data['borg_id'] }}" />
                  <input type="hidden" name="computerId" value="{{ value }}" />
                  <input type="hidden" name="_glpi_csrf_token" value="{{ csrf_token() }}" />
               
               </div> {# .row #}
            </div> {# .row #}
         </div> {# .flex-row #}
      </div> {# .flex-column #}
   </div> {# .flex-wrap #}

   <div class="card-body mx-n2 mb-4 border-top d-flex flex-row-reverse align-items-start flex-wrap">
   
   {% if canPurge %}
      <button class="btn btn-danger me-2" 
      type="submit" 
      name="unlink"
      value="1"
      onclick="return confirm('{{ labels['confirmDeletion'] }}');">
         <i class="fa-solid fa-link-slash"></i>
         <span>{{ _x('button', labels['unlink']) }}</span>
      </button>
   {% endif %}

   {% if canUpdate %}
      <button class="btn btn-primary me-2" 
      type="submit" 
      name="reload" 
      value="1">
         <i class="fa-solid fa-rotate"></i>
         <span>{{ _x('button', labels['reload']) }}</span>
      </button>
   {% endif %}

   </div>
   </form>
</div>

<div class="card-footer mx-n2 mb-n2 mt-2">
    <div class="row">
            <div class="col-sm-6 col-12">{{ data['footerDateCreation'] }}</div>
            <div class="col-sm-6 col-12">{{ data['footerDateMod'] }}</div>
    </div>
</div>